<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Yorker</title>
    <script type="text/javascript" src="static/js/jquery-3.2.1.min.js">
    </script>
    <script type="text/javascript" src="static/js/popper.js">
    </script>
    <script type="text/javascript" src="static/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="static/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body>
    <div class="logo">
      <img id="logo" src="static/logo.svg" alt="">
    </div>

    <ul class="nav justify-content-center nav-fill border">
      <li class="nav-item">
        <a class="nav-link active text-dark" href="#">News</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Culture</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Books</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-dark" href="#">Rumor</a>
      </li>
    </ul>

    <div class="page-content">
      <div id="first-part" class="container mb-4">
        <div id="article-title">
          <h1>What Mary critics don't understand</h1>
          <h5>For America's most beloved poet, paying attention to nature is a springboard to sacred</h5>
          <p>By <a href="#">Ruth Franklin</a></p>
        </div>
        <div class="row">
          <div class="col-md-1">
          </div>
          <div id="article" class="col-md-7">
            <div id="picture" class="">
              <img src="static/img.jpg" alt="">
              <p>Oliver uses nature to do something i dont know</p>
              <small>Illusion by blah blah</small>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <blockquote cite="http://">
              Lorem ipsum dolor sit amet, <br>
              consectetur adipisicing elit, <br>
              sed do eiusmod tempor incididunt <br>
              ut labore et dolore magna aliqua.
            </blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>

          <div id="most-popular" class="col-md-3 text-center">
            <div class="align-middle">
              <h3>Most popular</h3>
              <ol class="text-left">
                <li>
                  <p>Letter from Washington</p>
                  <a href="#">The danger of President Pence</a>
                  <p>By <a href="#">Jane Mayer</a></p>
                </li>
                <li>
                  <p>Letter from Washington</p>
                  <a href="#">The danger of President Pence</a>
                  <p>By <a href="#">Jane Mayer</a></p>
                </li>
                <li>
                  <p>Letter from Washington</p>
                  <a href="#">The danger of President Pence</a>
                  <p>By <a href="#">Jane Mayer</a></p>
                </li>
              </ol>
            </div>
          </div>
          <div class="col-md-1">
          </div>
      </div>

      </div>
      <div id="second-part" class="container">
        <div class="container">
          <div class="row ">
            <div class="col-md-1">
            </div>
            <div id="related-articles" class="col-md-10">
              <div class="row">
                <div class="col-md-6">
                  <span>Daily cartoon</span>
                  <a href="#">
                    <h2>Friday November 24th</h2>
                  </a>
                  <h2>Forgetting the garnish.</h2>
                  <span>By <a href="#">Lina Finck</a></span>
                  <span>Nov. 24, 2017</span>
                </div>
                <div class="col-md-6">
                  <span>Daily cartoon</span>
                  <a href="#">
                    <h2>Friday November 24th</h2>
                  </a>
                  <h2>Forgetting the garnish.</h2>
                  <span>By <a href="#">Lina Finck</a></span>
                  <span>Nov. 24, 2017</span>
                </div>
              </div>
            </div>
            <div class="col-md-1">
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer">
      <a href="#">
        <p>Listen to the NewYorker Radio Hour</p>
      </a>
      <a href="#">
        <p>Buy the cover</p>
      </a>
      <a href="#">
        <p>Play the JigSaw Puzzle</p>
      </a>
    </div>

  </body>
</html>
