{% extends 'base.html' %}

{% block title%}
Admin page
{% endblock%}

{% block page_content %}
    <table border="1px" class="">
      <thead>
        <th>Name</th>
        <th>Description</th>
        <th>Image</th>
        <th>Price</th>
        <th></th>
      </thead>

      <tbody>
        {% for item in items %}
        <tr>
          <td>{{item.title}}</td>
          <td>{{item.description}}</td>
          <td>
            <a href="{{item.image}}">Link</a>
          </td>
          <td>{{item.price}}</td>
          <td>
            <a href="/edit-item/{{item.id}}">
              <i class="fa fa-pencil-square-o text-dark" aria-hidden="true"></i>
            </a>
            <a href="#">
              <i class="fa fa-trash-o text-danger" aria-hidden="true"></i>
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock%}
