<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My website</title>
  </head>
  <body>
   <h1>Hihi</h1>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
   <a href="http://kosocho.com" target="blank">Click vào em đi hihi</a>

   <img src="" alt="">

   <span class="">
     Hôm nay trời rét
   </span>

   <span class="">
     Nhưng mà vẫn nóng
   </span>

   <ul>
     <li>123123</li>
     <li>e1241</li>
     <li>411351</li>
   </ul>

   <ol>
     <li>3123</li>
     <li>2142</li>

   </ol>
  </body>
</html>
