.c-nav-inline {
  display: inline-block;
}
.c-carousel-h-700 {
  height: 700px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#hp-carousel button a {
  text-decoration: none;
  color: black;
}

.carousel-caption {
  text-shadow: black;
}

#service-header {
  text-align: center;
  margin: 50px;
}

#service-header h1 {
  font-size: 3em;
}

.navbar-brand {
  font-family: 'Pacifico';
}

.c-t-b {
  font-weight: bold;
}

.carousel-caption h2 {
  text-shadow: 2px 2px black;
}
