<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>My homepage</title>
  </head>
  <body style="background-image: url('http://sajedulislam.com/images/2014/12/programer.jpg')">

    <div align="center">
      <h1>
        <font face="raleway" color="white">Vietanh's Home Page
        </font>
      </h1>
    </div>

    <div align="center">
      <h4>
        <a href="http://127.0.0.1:5000/about-me" style="font-family: raleway" target="blank">
          <font face="raleway" color="white">
            About me
          </font>
          </a>
      </h4>
    </div>

    <div align="center">
      <h4>
        <a href="http://127.0.0.1:5000/school" style="font-family: raleway" target="blank">
          <font face="raleway" color="white">
            My School
          </font>
          </a>
      </h4>
    </div>

  </body>
</html>
