<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>The New Yorker</title>
  </head>
  <body>
    <img src="static/logo.svg" alt="The New Yorker's Logo">

    <ul>
      <li>
        <a href="#">News</a>
      </li>
      <li>
        <a href="#">Culture</a>
      </li><li>
        <a href="#">Books</a>
      </li><li>
        <a href="#">Humor</a>
      </li>
    </ul>

    <a href="#">Books</a>
    <br>
    <a href="#">November 27.2017 Issue</a>

    <h3>What Mary Oliver's Critics Dont Understand</h3>
    <h2>For America's most beloved poet, paying attention to nature is a springboard to the sarced</h2>
    <p>By <a href="#">Ruth Franklin</a> </p>

    <ul>
      <li>
        <img src="static/facebook.svg" alt="facebook">
      </li>

      <li>
        <img src="static/twitter.svg" alt="Twitter">
      </li>

      <li>
        <img src="static/email.svg" alt="Email">
      </li>

      <li>
        <br>
        <img src="static/img.jpg" alt="image">
        <caption>
          <p>
            Oliver uses nature as springboard to the sarced - the beating heart of her work.
          </p>
          <cite>Illustation by Deanna Halsall</cite>

        </caption>
      </li>
    </ul>

    <div class="">
      <q cite="">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</q>
      <blockquote cite="http://">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </blockquote>
      <p>Blah blah <q cite="">Quuote here</q> Blah Blah </p>
    </div>

    <h3>Most Popular</h3>
    <ul>
        <li>
          <p class="small">1.<br>Letter from Washington </p>
          <h5>
            <a href="#"> The Danger of President Pence</a>
          </h5>
          <p>By <a href="#">Jane Mayer</a> </p>
        </li>

        <li>
          <p class="small">2.<br>Our Columnist </p>
          <h5>
            <a href="#"> No End in Sight to the Brexit Madness</a>
          </h5>
          <p>By <a href="#">John Cassidy</a> </p>
        </li>

        <li>
          <p class="small">3.<br>Satir from the Borowitz Report </p>
          <h5>
            <a href="#"> Mueller Rents Giant Warehouse to Store Evidence against Trump</a>
          </h5>
          <p>By <a href="#">Andy Borowitz</a> </p>
        </li>
    </ul>


    <div class="Suggestion">
      <p>Daily Cartoon</p>
      <h2>
        <a href="#">Daily Cartoon: Friday, November 24th</a>
        <p>Forgetting the garnish</p>
      </h2>
      <p>
        By <a href="#"> Liana Finck</a>
      </p>
      <p>Nov.24, 2017</p>
    </div>

    <div class="Suggestion">
      <p>Elements</p>
      <h2>
        <a href="#">At Berkley, a New Generation of Ethical Hackers Learns the Do's and Don'ts of Cybersecurity</a>
        <p>How long wouth it take a junior computer sicence major to disrupt an election</p>
      </h2>
      <p>
        By <a href="#"> Anna Wiener</a>
      </p>
      <p>Nov.24, 2017</p>
    </div>

    <div class="Page-End">
      <h4>
        <a href="#">Listen to the New Yorker Radio Hour</a>
      </h4>
    </div>

    <div class="Page-End">
      <h4>
        <a href="#">Buy the Cover</a>
      </h4>
    </div>

    <div class="Page-End">
      <h4>
        <a href="#">Play the Jigsaw Puzzle</a>
      </h4>
    </div>
  </body>
</html>
