<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Yorker</title>
    <link rel="stylesheet" href="/static/master.css">
  </head>
  <body>
    <img id='logo' src="static/logo.svg" alt="">

    <ul class="nav">
      <li>
        <a href="#">News</a>
      </li>
      <li>
        <a href="#">Culture</a>
      </li>
      <li>
        <a href="#">Books</a>
      </li>
      <li>
        <a href="#">Humor</a>
      </li>
    </ul>

    <!-- <a href="#">Books</a>
    <br>
    <a href="#">November 27, 2017 Issue</a> -->
    <div class="page-content">
      <div class="title">
        <h3 id="article-title">What Mary critics don't understand</h3>
        <h2 class='subtitle'>For America's most beloved poet, paying attention to nature is a springboard to sacred</h2>
        <p class='author'>By <a href="#">Ruth Franklin</a></p>
      </div>
      <div class="first">
        <div id="article-content">
          <div id="picture">
            <img src="static/img.jpg" alt="">
            <p>Oliver uses nature as a springboard to the sacred</p>
            <small>Illusion by blah blah</small>
          </div>

          <div id="article-text">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

            <blockquote cite="http://">
              Lorem ipsum dolor sit amet, <br>
              consectetur adipisicing elit, <br>
              sed do eiusmod tempor incididunt <br>
              ut labore et dolore magna aliqua.
            </blockquote>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

          </div>

        </div>

        <div id="most-popular">
          <h3>Most popular</h3>
          <ol>
            <li>
              <p>Letter from Washington</p>
              <a href="#">The danger of President Pence</a>
              <p>By <a href="#">Jane Mayer</a></p>
            </li>
            <li>
              <p>Letter from Washington</p>
              <a href="#">The danger of President Pence</a>
              <p>By <a href="#">Jane Mayer</a></p>
            </li>
            <li>
              <p>Letter from Washington</p>
              <a href="#">The danger of President Pence</a>
              <p>By <a href="#">Jane Mayer</a></p>
            </li>
          </ol>
        </div>
      </div>
      <!-- <ul>
        <li><img src="static/facebook.svg" alt=""></li>
        <li><img src="static/twitter.svg" alt=""></li>
        <li><img src="static/email.svg" alt=""></li>
      </ul> -->

      <div class="second">
        <div class="">
          <span class="text-red">Daily cartoon</span>
          <a href="#" class="remove-link-black">
            <h2>Daily Cartoon: Friday November 24th</h2>
          </a>
          <h2 class="subtitle-1em">Forgetting the garnish.</h2>
          <span>By <a href="#" class="remove-link-black">Lina Finck</a></span>
          <span>Nov. 24, 2017</span>
        </div>

        <div class="">
          <span class="text-red">Elements</span>
          <a href="#" class="remove-link-black">
            <h2>At Berkeley, a New Generation of Ethical Hackers blah blah blah</h2>
          </a>
          <h2 class="subtitle-1em">Forgetting the garnish.</h2>
          <span>By <a href="#" class="remove-link-black">Lina Finck</a></span>
          <span>Nov. 24, 2017</span>
        </div>
      </div>

    </div>


    <div class="footer">
      <a href="#">
        <h4>Listen to the NewYorker Radio Hour</h4>
      </a>
      <a href="#">
        <h4>Buy the cover</h4>
      </a>
      <a href="#">
        <h4>Play the JigSaw Puzzle</h4>
      </a>
    </div>

  </body>
</html>
