<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Backend</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js">
    </script>
    <script type="text/javascript" src="../static/js/popper.js">
    </script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/master.css">
  </head>
  <body>
    <form>
      <div class="form-group">
        <label for="Name">Coffee Shop Name</label>
        <input type="text" class="form-control" name="name"  id="shopNameInput">
      </div>
      <div class="form-group">
        <label for="Description">Display Image</label>
        <input type="file" class="form-control-file" name="img" id="imageInput">
      </div>
      <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" class="form-control" name="des" id="descriptionInput">
      </div>
      <button type="submit" class="btn btn-dark">Submit</button>
    </form>
  </body>
</html>
