<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Delete</title>
    <script type="text/javascript" src="../static/js/jquery-3.2.1.min.js">
    </script>
    <script type="text/javascript" src="../static/js/popper.js">
    </script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js">
    </script>
    <link rel="stylesheet" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/delete.css">
  </head>
  <body>
    <div class="pt-4">
      <h1 class="text-center">Deleted</h1>
      <div class="w-100 text-center">
        <button class="btn btn-dark btn-lg" type="button" name="button">
          <a class="text-white text-non-decor" href="/admin">Go back to admin page</a>
        </button>
      </div>
    </div>
  </body>
</html>
