body {
  font-family: open sans;
}

/*header style*/

#page-header {
  width: 100%;
  height: 500px;
  background-image: url('../static/image/bg3.jpg');
  background-size: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.navbar-light {
  background-color: rgba(255, 255, 255, 0.1) !important;
}

#navbarNav {
  font-weight: bold;
}

.navbar-brand {
  font-family: 'Lobster', cursive;
  font-size: 180%;
  margin: 0;
  padding: 0;
}

.nav-item {
  padding-left: 60px;
}


#head-section {
  height: inherit;
  margin-top: 100px;
}

.mb-0 {
  margin-bottom: 0;
}

/*#head-section h2 {
  color: white;
}*/

/*content style*/

#list-content {
  text-align: center;
}

.image-box {
  width: 300px;
  height: 250px;
  overflow: hidden;
  text-align: center;
  margin: 0 auto;
  object-fit: cover;
}

.image-box img {
  height: inherit;
  object-fit: cover;
}

#footer {
  text-align: center;
  background-color: #372517;
  color: white;
  padding: 8px;
  opacity: 0.8
}
